*{
    box-sizing: border-box;
}


:root {
    --primary: rgb(149, 190, 136);
    --secondary: rgb(88, 112, 85);
    --tertiary: rgb(249, 237, 181);
    --dark: rgb(14, 34, 8);
    --light: rgb(238, 247, 244);
  }
  /* color pallette */

body {
background-color: var(--primary);
font-family: 'Courier New', Courier, monospace;
margin: 0;
display: flex;
flex-direction: column;
min-height: 175vh;
justify-content: flex-start;
}

/* setting up body */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* setting margin size for everything */

header {
    
    display: flex;
    padding: 15px 6% 15px 0;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--secondary);
    background-image: url("https://lh5.googleusercontent.com/UE-FBcDWTwZE7yQWqBwYGYhTU3XeYJnTcPd-YRJvNkxZn0cxnvJs1k04AlOgIi-Tc7I=w2400?source=screenshot.guru"> <img src="https://lh5.googleusercontent.com/UE-FBcDWTwZE7yQWqBwYGYhTU3XeYJnTcPd-YRJvNkxZn0cxnvJs1k04AlOgIi-Tc7I=w1200-h630-p");
  }
  
  header h1 {
    font-size: 85px;
    color: var(--light);
    padding: 3px 3% 3px 3%;
    line-height: 2;
    margin: 0;
  }

  .hero-banner h2 {
    color: var(--tertiary);
    margin: .5;
    padding: 3px 5px;
    line-height: 1.5;
    display: inline;
   
  }


  
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 4vw;
    line-height: 1.1;
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    border: 5px solid var(--secondary);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }